{% extends "base.html.twig" %}


{% block titreH1 %}<h1>Page hétitage{% endblock %}

{% block body %}

<h2>HELLO</h2>
<p>Nous sommes la qsur la page heritage pourtant le reste de la page reste le meme que celui de base.html.twig mais seul le block body change</p>

{% endblock %}